body {
    background-color: white;
    color: black;
    font-family: Verdana;
  }

@media (prefers-color-scheme: light) {
  body {
      background-color: white;
      color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #1b1818;
      color: white;
  }
}